body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  border-bottom: 3px solid white;
  height: 50px;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  gap: 15px
}


li a{
  text-decoration: none;
  color: inherit;
  display: inline-block;
  transition: transform 0.2s ease; 
}

.header2{
  background-color: #222;
  height: 80px;
}

li a:hover{
  transform: scale(1.1);
}

.btn{
  display: none;
  border: none;
  padding-left: 12px;
}

@media(max-width: 700px){
  header{
    height: auto;
    position: relative;
  }

  .nav ul{
    display: none;
  }

  .btn{
    display: block;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    background-color: transparent;
  }

  .open{
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 40px; 

  }

  .open ul{
    display:flex;
    flex-direction: column;
    font-size: small;
    align-items: flex-start;
    gap: 25px;
    padding-left: 25px;
  }

  .open ul li a{
    color: black
  }

  #ouvert{
    color: black;
  }
}


